[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
sqlalchemy = "*"
pydantic = "*"
requests = "*"
python-dotenv = "*"
fastapi = {extras = ["standard"], version = "*"}
python-multipart = "*"
langchain = "*"
langchain-community = "*"
pypdf = "*"
langchain-postgres = "*"
langchain-ollama = "*"
slowapi = "*"
limits = "*"
aioredis = "*"
pydantic-settings = "*"
redis = "*"
psycopg2 = "*"
psycopg2-binary = "*"
pytest = "*"
httpx = "*"
pip = "*"
install = "*"
reportlab = "*"

[dev-packages]

[requires]
python_version = "3.10"
